<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appsec</key>
	<string>2ad42749773c441109bdc0191257a664</string>
	<key>appkey</key>
	<string>85eb6835b0a1034e</string>
</dict>
</plist>
